{{define "body"}} {{template "nav"}} {{template  "sidebar" .Data}}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked arrow down">
                            <use xlink:href="#stroked-arrow-down"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ .Data.MoneyIn }}</div>
                        <div class="text-muted">Money In</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked arrow up">
                            <use xlink:href="#stroked-arrow-up"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ .Data.MoneyOut }}</div>
                        <div class="text-muted">Money Out</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked dashboard dial">
                            <use xlink:href="#stroked-dashboard-dial"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ .Data.TotalTransactions }}</div>
                        <div class="text-muted">Total Transactions</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked line-graph">
                            <use xlink:href="#stroked-line-graph"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ .Data.CurrentBalance }}</div>
                        <div class="text-muted">Current Balance</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Transactions Traffic Overview</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>MTN</h4>
                    <div class="easypiechart" id="easypiechart-orange" data-percent="{{ .Data.TotalMTN }}"><span class="percent">{{ .Data.TotalMTN }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>TIGO CASH</h4>
                    <div class="easypiechart" id="easypiechart-blue" data-percent="{{ .Data.TotalTigo }}"><span class="percent">{{ .Data.TotalTigo }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>VODAFONE CASH</h4>
                    <div class="easypiechart" id="easypiechart-red" data-percent="{{ .Data.TotalVodafone }}"><span class="percent">{{ .Data.TotalVodafone }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>AIRTEL</h4>
                    <div class="easypiechart" id="easypiechart-teal" data-percent="{{ .Data.TotalAirtel }}"><span class="percent">{{ .Data.TotalAirtel }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.main-->

{{end}} {{define "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="/static/js/easypiechart-data.js"></script>
<script>
    var failedTransactions = (JSON.parse("{{ .Data.FailedTransactions }}") || []).length;
    var successTransactions = (JSON.parse("{{ .Data.SuccessfulTransactions }}") || []).length;
    var pendingTransactions = (JSON.parse("{{ .Data.PendingTransactions }}") || []).length;

    var barChartData = {
        labels: ["Failed", "Pending", "Success"],
        datasets: [
            {
                label: "Transactions Overview",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                data: [failedTransactions, pendingTransactions, successTransactions]
            }
        ]
    };


    window.onload = function () {
        var ctx = document.getElementById("line-chart").getContext("2d");
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: { responsive: true }
        });
    };

</script>
{{end}}
